// Variables
:root {
	--nav-hover-background: #42464d;
	--muted-color: #aaa;
	--red: #ed4245;
	--green: #3aa65d;
	--orange: #faa919;
	--dark: #202225;
	--light: #97989d;
	--medium: #2f3136;
}

// Basics
.warning {
	color: var(--orange) !important;
}
.success {
	color: var(--green) !important;
}

a,
a.go {
	color: #01b0f5;
}

// Selected navigation item
a.sel {
	background-color: var(--nav-hover-background);
	box-shadow: none;
	color: white;
}

// Global

body,
html {
	background-color: var(--medium);
	color: white;
}

body.fixed-header #header {
	background-color: var(--dark);
	border-bottom: 1px solid #2c2e32;
}

#system-info {
	background-color: var(--dark);
}

#global-sidebar {
	background-color: var(--dark);

	a {
		color: var(--light);
	}
}

#global-sidebar > a[href]:not(.sel):hover,
#global-sidebar *:not(.has-subnav) > a[href]:not(.sel):hover {
	background-color: var(--nav-hover-background);
}

#global-sidebar > a[href]:hover,
#global-sidebar > a[href].active,
#global-sidebar > a[href]:active,
#global-sidebar *:not(.has-subnav) > a[href]:hover,
#global-sidebar *:not(.has-subnav) > a[href].active,
#global-sidebar *:not(.has-subnav) > a[href]:active {
	color: white;
}

#global-header {
	background: var(--body);
	box-shadow: none;
	border-bottom: 1px solid var(--dark);
}

#nav li:not(.has-subnav) > a.sel {
	background-color: var(--nav-hover-background);
	color: white;
}

.sidebar .heading span {
	color: #4f545c;
}

.sidebar nav li a {
	color: var(--light);
}

#sidebar nav li a:not(.sel):hover {
	background-color: var(--nav-hover-background);
	color: white;
}

#sidebar nav li a.sel {
	background-color: var(--nav-hover-background);
	color: white;
	box-shadow: none;
}

// Content panes

.content-pane,
.pane-tabs ul li a.sel {
	background-color: #42464d;
	box-shadow: none;
	color: white;
}

#content {
	.pane-header {
		background-color: #333;
	}
	.pane,
	.message .body {
		// Lighter than .content-pane
		background-color: #5a5960;
	}
}
.message .body {
	background-color: var(--nav-hover-background);
	color: #ccc;
}

// Icon boxes (Utilities / Settings)
ul.icons li a {
	border: none;
	color: #96989d;

	&:hover {
		background-color: #33353b;
		color: white;

		.icon.icon-mask svg rect,
		.icon.icon-mask svg circle,
		.icon.icon-mask svg ellipse,
		.icon.icon-mask svg line,
		.icon.icon-mask svg polyline,
		.icon.icon-mask svg polygon,
		.icon.icon-mask svg path,
		.icon.icon-mask svg text {
			fill: white;
		}
	}
}

ul.icons li a .icon.icon-mask svg rect,
ul.icons li a .icon.icon-mask svg circle,
ul.icons li a .icon.icon-mask svg ellipse,
ul.icons li a .icon.icon-mask svg line,
ul.icons li a .icon.icon-mask svg polyline,
ul.icons li a .icon.icon-mask svg polygon,
ul.icons li a .icon.icon-mask svg path,
ul.icons li a .icon.icon-mask svg text {
	fill: #babbbe;
}

// Buttons
.btn {
	color: white;
	background-color: #606e7b;

	&:before,
	&:after,
	&:hover {
		color: white;
	}
}

.btn.dashed,
.copytextbtn {
	border: 1px solid #666;
	input,
	span {
		color: #999;
	}
}

// Forms
#toolbar .btn,
#toolbar .text {
	color: white;
	border: 1px solid transparent;
}

.field > .heading > label,
.field > .heading > legend {
	color: white;
}

#content :not(.meta) > .flex-fields > :not(h2):not(hr):before,
#content :not(.meta) > .flex-fields > :not(h2):not(hr):last-child:before {
	visibility: hidden;
}

.field > .status-badge.outdated {
	background-color: var(--orange);
}

.notice {
	color: #01b0f5 !important;
}

.selectize.select .selectize-control .selectize-input,
.select:not(.selectize) select {
	color: white;
}

.field > .instructions,
.field > .heading > .instructions,
.checkboxfield .instructions {
	color: #b9babc;
}

.text:not(.selectize-text),
.passwordwrapper,
.border-box,
.matrix-configurator > .field > .input,
.selectize-text > .selectize-control > .selectize-input,
.selectize.multiselect .selectize-control.multi .selectize-input,
.multiselect > select {
	background-color: var(--nav-hover-background);
	color: white;
}

// Notifications
#announcements-btn.unread:after {
	background-color: var(--red);
}

// Tables
table.data thead th,
table.data thead td {
	background-color: var(--nav-hover-background);
	color: white;
}
table.data thead th.ordered,
table.data thead th.orderable:not(.ordered):hover {
	background-color: var(--medium);
}

table.data tbody tr:not(.disabled):hover th,
table.data tbody tr:not(.disabled):hover td {
	background-color: #38393f;
	color: white;
}

#footer {
	background-color: var(--nav-hover-background);
}

.light {
	color: white !important;
}

// Footer
#app-info {
	color: var(--muted-color);
}

// Editor
hr {
	border-top: 1px solid var(--medium);
}

// Editor - side pane
#details .meta {
	box-shadow: none !important;
}

#details .meta.read-only {
	background-color: var(--dark);
}

#details .meta:not(.read-only):not(.warning) {
	background-color: var(--dark);
}

// Plugin store
.ps-wrapper .ps-sidebar {
	background-color: var(--dark);
}
ul.categories li a {
	color: var(--light);
}
.text-grey-darkest {
	color: var(--light);
}

// Matrix
.matrixblock {
	background-color: #3b3a43;

	> .titlebar {
		background-color: var(--medium);
	}
}

// Redactor
.redactor
	.redactor-box:not(.redactor-box-fullscreen):not(.redactor-source-view) {
	background-color: var(--nav-hover-background) !important;
}

.redactor-box .redactor-styles {
	color: #dcddde !important;
}

.redactor-air a,
.redactor-toolbar a {
	color: white !important;
}
