// Variables
:root {
	--red: #dc2626;
	--red-hover: #b91c1c;
	--green: #47c46e;
	--orange: #faa919;
	--blue: #01b0f5;
	--gray-900: #111827;
	--gray-800: #1f2937;
	--gray-700: #374151;
	--gray-600: #4b5563;
	--gray-500: #6b7280;
	--gray-400: #9ca3af;
	--gray-300: #d1d5db;
	--gray-200: #e5e7eb;
	--gray-50: #f9fafb;
}

@import 'base';
@import 'notifications';
@import 'tables';
@import 'footer';
@import 'plugin-store';
@import 'matrix';
@import 'redactor';
@import 'modals';
@import 'alerts';

// Selected navigation item
a.sel,
.pane-tabs [role='tablist'] [role='tab'].sel {
	background-color: var(--gray-700);
	box-shadow: none;
	color: var(--gray-50);

	span {
		color: var(--gray-50);
	}
}

// UI Tips
.readable blockquote.note.tip {
	color: var(--blue);
	border-color: var(--blue);

	&:before {
		color: var(--blue);
	}
}

// Global

body.fixed-header #header {
	background-color: var(--gray-900);
	border-bottom: 1px solid var(--gray-800);
}

#system-info {
	background-color: var(--gray-900);
}

#global-sidebar {
	background-color: var(--gray-900);

	a {
		color: var(--gray-300);
	}
}

#global-sidebar > a[href]:not(.sel):hover,
#global-sidebar *:not(.has-subnav) > a[href]:not(.sel):hover {
	background-color: var(--gray-700);
}

#global-sidebar > a[href]:hover,
#global-sidebar > a[href].active,
#global-sidebar > a[href]:active,
#global-sidebar *:not(.has-subnav) > a[href]:hover,
#global-sidebar *:not(.has-subnav) > a[href].active,
#global-sidebar *:not(.has-subnav) > a[href]:active {
	color: var(--gray-50);
}

#global-header {
	background: var(--body);
	box-shadow: none;
	border-bottom: 1px solid var(--gray-900);
}

#nav li:not(.has-subnav) > a.sel {
	background-color: var(--gray-700);
	color: var(--gray-50);
}

.sidebar .heading span {
	color: var(--gray-500);
}

.sidebar nav li a {
	color: var(--gray-300);
}

#sidebar nav li a:not(.sel):hover,
.sidebar nav li a:not(.sel):hover {
	background-color: var(--gray-700);
	color: var(--gray-50);
}

#sidebar nav li a.sel,
.sidebar nav li a.sel,
.sidebar nav li:not(.has-subnav) > a.sel {
	background-color: var(--gray-700);
	color: var(--gray-50);
	box-shadow: none;
}

// Content panes

.content-pane,
.pane-tabs ul li a.sel {
	background-color: #42464d;
	box-shadow: none;
	color: var(--gray-50);
}

#content {
	.pane-header {
		background-color: #333;
	}
	.pane,
	.message .body {
		// Lighter than .content-pane
		background: #5a5960;
	}
}

// Dashbaord
.pane {
	background: var(--gray-600);
	box-shadow: none;
}

.message .body {
	background-color: var(--gray-700);
	color: var(--gray-200);
}

.widget.craft\\widgets\\craftsupport
	.front
	.pane
	.cs-screen-home
	.cs-opt:hover {
	background: var(--gray-500);
}
.widget.craft\\widgets\\craftsupport .front .pane .cs-screen-home .cs-opt p {
	color: var(--gray-300);
}
.widget.craft\\widgets\\craftsupport
	.front
	.pane
	.cs-screen-home
	.cs-opt:not(:first-child) {
	border-top: 1px solid var(--gray-700);
}

// Icon boxes (Utilities / Settings)
ul.icons li a {
	border: none;
	color: #96989d;

	&:hover {
		background-color: #33353b;
		color: var(--gray-50);

		.icon.icon-mask svg rect,
		.icon.icon-mask svg circle,
		.icon.icon-mask svg ellipse,
		.icon.icon-mask svg line,
		.icon.icon-mask svg polyline,
		.icon.icon-mask svg polygon,
		.icon.icon-mask svg path,
		.icon.icon-mask svg text {
			fill: var(--gray-50);
		}
	}
}

.menu,
.ui-datepicker,
.ui-timepicker-list {
	background-color: #2a2a2a;
}
.menu ul li a {
	color: var(--gray-100);
}

.ui-datepicker-calendar th span,
.ui-datepicker-calendar td a {
	color: #6e757b;
}

ul.icons li a .icon.icon-mask svg rect,
ul.icons li a .icon.icon-mask svg circle,
ul.icons li a .icon.icon-mask svg ellipse,
ul.icons li a .icon.icon-mask svg line,
ul.icons li a .icon.icon-mask svg polyline,
ul.icons li a .icon.icon-mask svg polygon,
ul.icons li a .icon.icon-mask svg path,
ul.icons li a .icon.icon-mask svg text {
	fill: #babbbe;
}

// Buttons
.btn {
	color: var(--gray-50);
	background-color: #606e7b;

	&:before,
	&:after,
	&:hover {
		color: var(--gray-50);
	}
	&.menu-toggle:after,
	&.menubtn:after {
		border: solid var(--gray-50);
		border-width: 0 2px 2px 0;
	}
}

.btn.dashed,
.copytextbtn {
	border: 1px solid var(--gray-300);
	input,
	span {
		color: var(--gray-300);
	}

	&:hover,
	&:focus {
		border: 1px solid var(--gray-200);

		input,
		span {
			color: var(--gray-200);
		}
	}
}

.btn:not(.disabled):not(.inactive):hover:before,
.btn:not(.disabled):not(.inactive):hover:after,
.btn:not(.disabled):not(.inactive).hover:before,
.btn:not(.disabled):not(.inactive).hover:after {
	color: var(--gray-300);
}

// Forms

.required:after {
	color: var(--red);
}

#toolbar .btn,
#toolbar .text {
	color: var(--gray-50);
	border: 1px solid transparent;
}

.field > .heading > label,
.field > .heading > legend {
	color: var(--gray-50);
}

#content :not(.meta) > .flex-fields > :not(h2):not(hr):before,
#content :not(.meta) > .flex-fields > :not(h2):not(hr):last-child:before {
	visibility: hidden;
}

.field > .status-badge.outdated {
	background-color: var(--orange);
}

.notice {
	color: #01b0f5 !important;
}

.selectize.select .selectize-control .selectize-input,
.select:not(.selectize) select {
	color: var(--gray-50);
}

.field > .instructions,
.field > .heading > .instructions,
.checkboxfield .instructions {
	color: #b9babc;
}

.text:not(.selectize-text),
.passwordwrapper,
.border-box,
.matrix-configurator > .field > .input,
.selectize-text > .selectize-control > .selectize-input,
.selectize.multiselect .selectize-control.multi .selectize-input,
.multiselect > select {
	background-color: var(--gray-700);
	color: var(--gray-50);
}

// Editor
hr {
	border-top: 1px solid var(--gray-800);
}

// Editor - side pane
#details .meta,
#details .details > .field > .input > .text.fullwidth {
	box-shadow: none !important;
}

#details .details .meta:not(.read-only):not(.warning),
#details .details > .field > .input > .text.fullwidth {
	background-color: var(--gray-600) !important;
}

.details .meta:not(.read-only) > .data > .heading,
.details .meta:not(.read-only) > .data > .heading > label,
.details .meta:not(.read-only) > .field > .heading,
.details .meta:not(.read-only) > .field > .heading > label,
.card-seo-google__description {
	background-color: var(--gray-600) !important;
	color: var(--gray-50);
}

#details .meta.read-only {
	background-color: var(--gray-800);
}

// Field Desginers
.layoutdesigner .fld-workspace {
	background-color: var(--gray-900);

	// Grid squares
	background-image: linear-gradient(
			to right,
			var(--gray-800) 1px,
			transparent 0px
		),
		linear-gradient(to bottom, var(--gray-800) 1px, transparent 1px);
}

// field boxes
.fld-sidebar,
.fld-tab .tabs .tab,
.fld-tab .fld-tabcontent,
.fld-new-tab-btn,
.fld-new-tab-btn:hover {
	background-color: var(--gray-700);
}

// HR
.fld-element {
	background-color: var(--gray-700);
}
.fld-hr:before,
.fld-hr .smalltext {
	background-color: var(--gray-600);
}

// Field items
.fld-element.fld-field {
	background-color: var(--gray-600);
}

.fld-element .field-name .fld-element-label h4 {
	color: var(--gray-200);
}

// Updates
.readable h1,
.readable h2,
.readable h3,
.readable h4,
.readable h5,
.readable h6 {
	color: --gray-50;
}
