// Modals {
.modal,
.hud .body {
	background-color: var(--gray-800);
}

.header,
.hud-header,
.footer,
.hud-footer {
	background-color: var(--gray-800);
}
.sidebar {
	background-color: var(--gray-700);
}

.preview-thumb-container.loading:after {
	content: '';
	font-size: 0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: red !important;
}
