// Plugin store
.ps-wrapper .ps-sidebar {
	background-color: var(--gray-900);
}
ul.categories li a {
	color: var(--gray-300);
}
.text-grey-darkest {
	color: var(--gray-300);
}
.plugin-editions-edition {
	border-color: var(--gray-500);
}

// Buy button
.c-btn.primary:not(.outline),
a.c-btn.primary:not(.outline),
button.c-btn.primary:not(.outline) {
	background-color: var(--red);
	border-color: var(--red);
}
.c-btn.primary:not(.outline):not([disabled]):hover,
a.c-btn.primary:not(.outline):not([disabled]):hover,
button.c-btn.primary:not(.outline):not([disabled]):hover {
	background-color: var(--red-hover);
	border-color: var(--red-hover);
}

ul.categories li a:hover {
	background-color: var(--gray-700);
}
ul.categories li a:hover:not(.router-link-active) {
	color: var(--gray-50);
}
